.capa-superior {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  
  // ESTA ES LA CLAVE:
  pointer-events: none; 
}

// Pero el cuadro de login SÍ debe recibir clics
app-login {
  pointer-events: auto; 
}